<!DOCTYPE html>
<html>

<head>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<link rel="stylesheet" href="/css/styles.css">
<title>{{.PageTitle}}</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124640225-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124640225-1');
</script>

</head>

<script type='text/javascript'>
 $(document).ready(function() {
   $('input[name=wordVerb]').change(function(){
     $('form').submit();
   });

   $('input[name=wordAdjective]').change(function(){
     $('form').submit();
   });

   $('input[name=runTest]').click(function(){
     $('<input>').attr('type', 'hidden').attr('name', 'runTest').attr('value', 'runTest').appendTo('form');
     $('form').submit();
    });

   $('input[name=checkAllWordTypes]').click(function(){
    {{with $1:=.WordOptionButtons}}
      {{range $1}}
        $('input[name={{.Name}}]').prop('checked', true);
        $('form').submit();
      {{end}}
    {{end}}
   });
   
   $('input[name=checkAllVerbPoliteness]').click(function(){
    {{with $1:=.PolitenessOptionButtons}}
      {{range $1}}
        $('input[name={{.Name}}]').prop('checked', true);
      {{end}}
    {{end}}
   });

   $('input[name=checkAllVerbForms]').click(function(){
    {{with $1:=.FormOptionButtons}}
      {{range $1}}
        $('input[name={{.Name}}]').prop('checked', true);
      {{end}}
    {{end}}
   });

   $('input[name=checkAllAdjectiveForms]').click(function(){
    {{with $1:=.AdjectiveFormOptionButtons}}
      {{range $1}}
        $('input[name={{.Name}}]').prop('checked', true);
      {{end}}
    {{end}}
   });

   $('input[name=uncheckAllWordTypes]').click(function(){
    {{with $1:=.WordOptionButtons}}
      {{range $1}}
        $('input[name={{.Name}}]').prop('checked', false);
        $('form').submit();
      {{end}}
    {{end}}
   });

   $('input[name=uncheckAllVerbPoliteness]').click(function(){
    {{with $1:=.PolitenessOptionButtons}}
      {{range $1}}
        $('input[name={{.Name}}]').prop('checked', false);
      {{end}}
    {{end}}
   });

   $('input[name=uncheckAllVerbForms]').click(function(){
    {{with $1:=.FormOptionButtons}}
      {{range $1}}
        $('input[name={{.Name}}]').prop('checked', false);
      {{end}}
    {{end}}
   });

   $('input[name=uncheckAllAdjectiveForms]').click(function(){
    {{with $1:=.AdjectiveFormOptionButtons}}
      {{range $1}}
        $('input[name={{.Name}}]').prop('checked', false);
      {{end}}
    {{end}}
   });
});
</script>

<body>
  <div id="headerDiv">
    <span style="font-size: 20pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; float: left; margin: 6px; margin-left: 110px; margin-bottom: 0px; color: royalblue">Japanese Vocab Practice</span>
    <span style="font-size: 20pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; float: right; margin: 6px; margin-right: 110px; margin-bottom: 0px; color: royalblue">日本語の単語練習</span>
  </div>

  <br>
  <br>
  <br>

  <div class="testControls">
    <form action="/controls" method="post">

      <div class="optionGridParent">
        <div class="optionGridContainer">
          {{with $1:=.DisplayOptionButtons}}
            <div class="optionGridDisplay">
              <p><optionHeaderText>Display:</optionHeaderText></p>
              {{range $1}}
                <input type="radio" name={{.Name}} value="{{.Value}}" id={{.Value}} class="regular-radio" {{if .IsChecked}} checked="true" {{end}}>
                <label for="{{.Value}}"></label>
                <span class="radioOptionText">{{.Text}}</span>
              {{end}}
            </div>
          {{end}}

          {{with $2:=.NumWordsOptionButton}}
            <div class="optionGridNumWords">
              <p><optionHeaderText>Test Length (Words):</optionHeaderText></p>
              <input type="text" name={{.Name}} value="{{.Value}}" class="optionTextBox">
            </div>
          {{end}}
  
          {{with $3:=.LanguageOptionButtons}}
            <div class="optionGridLanguage">
              <p><optionHeaderText>Language:</optionHeaderText></p>
              {{range $3}}
                <input type="radio" name={{.Name}} value="{{.Value}}" class="regular-radio" {{if .IsChecked}} checked="true" {{end}}>
                <label for="{{.Value}}"></label>
                <span class="radioOptionText">{{.Text}}</span>
              {{end}}
            </div>
          {{end}}

          {{with $4:=.WordOptionButtons}}
            <div class="optionGridWordType">
              <p><optionHeaderText>Word Types:</optionHeaderText></p>
              <input type="button" name="uncheckAllWordTypes" value="Uncheck All" id="uncheckAllButton">
              <input type="button" name="checkAllWordTypes" value="Check All" id="checkAllButton">
              {{range $4}}
                <input type="checkbox" name={{.Name}} value={{.Value}} id="cb{{.Name}}" class="regular-checkbox" {{if .IsDisabled}} disabled=true {{end}} {{if .IsChecked}} checked{{end}}> 
                <label for="cb{{.Name}}"></label>
                <span class="optionText">{{.Text}}</span>
              {{end}}
            </div>
          {{end}}
        </div>
      </div>

      {{with $5:=.PolitenessOptionButtons}}
        <div class="optionBoxParent"><div class="optionBox">
            <p><optionHeaderText>Verb Politeness Level:</optionHeaderText></p>
            <input type="button" name="uncheckAllVerbPoliteness" value="Uncheck All" id="uncheckAllButton">
            <input type="button" name="checkAllVerbPoliteness" value="Check All" id="checkAllButton">
            {{range $5}}
              <input type="checkbox" name={{.Name}} value={{.Value}} id="cb{{.Name}}" class="regular-checkbox" {{if .IsDisabled}} disabled=true {{end}} {{if .IsChecked}} checked{{end}}>
              <label for="cb{{.Name}}"></label>
              <span class="optionText">{{.Text}}</span>
            {{end}}
          </div>
        </div>
      {{end}}

      {{with $6:=.FormOptionButtons}}
        <div class="optionBoxParent"><div class="optionBox">
            <p><optionHeaderText>Verb Form:</optionHeaderText></p>
            <input type="button" name="uncheckAllVerbForms" value="Uncheck All" id="uncheckAllButton">
            <input type="button" name="checkAllVerbForms" value="Check All" id="checkAllButton">
            <br>
            {{range $6}}
              <span class="optionSpan">
                <input type="checkbox" name={{.Name}} value={{.Value}} id="cb{{.Name}}" class="regular-checkbox" {{if .IsDisabled}} disabled=true {{end}} {{if .IsChecked}} checked{{end}}>
                <label for="cb{{.Name}}"></label>
                <span class="optionText">{{.Text}}</span>
              </span>
            {{end}}
          </div>
        </div>
      {{end}}

      {{with $7:=.AdjectiveFormOptionButtons}}
        <div class="optionBoxParent"><div class="optionBox">
            <p><optionHeaderText>Adjective Form:</optionHeaderText></p>
            <input type="button" name="uncheckAllAdjectiveForms" value="Uncheck All" id="uncheckAllButton">
            <input type="button" name="checkAllAdjectiveForms" value="Check All" id="checkAllButton">
            <br>
            {{range $7}}
              <span class="optionSpan">
                <input type="checkbox" name={{.Name}} value={{.Value}} id="cb{{.Name}}" class="regular-checkbox" {{if .IsDisabled}} disabled=true {{end}} {{if .IsChecked}} checked{{end}}>
                <label for="cb{{.Name}}"></label>
                <span class="optionText">{{.Text}}</span>
              </span>
            {{end}}
          </div>
        </div>
      {{end}}

    </form>
  </div>

  <br>
  <br>

  <div id="buttonBox">
    <input type="button" value="Start/Restart Test" name="runTest" class="button1" {{if .TestButtonDisabled}} disabled=true {{end}}>
  </div>

  <br>
  <br>

  <div class="optionBoxParent"><div class="Test" id="buttonParentBox">
      <script>
        var wordData = {{.TestWords}}
        var formData = {{.TestForms}}
        var index = -1;

        function removeElement(elementId) {

          var item = document.getElementById(elementId);
          if (item != null) {
              item.parentNode.removeChild(item);
          }
        }

        function ShowWord() {

              index++;

              removeElement("answerDiv");
              removeElement("englishText");
              removeElement("formText");
              removeElement("counterSpan");
              removeElement("starSpan");
              removeElement("testButtonBox");

              var parentDiv = document.getElementById("buttonParentBox");

              // var starSpanParent = document.createElement("span");
              // starSpanParent.id = "starSpanParent";

              var starSpan = document.createElement("span");
              starSpan.id = "starSpan";
              var starInput = document.createElement("input");
              starInput.setAttribute("type", "checkbox");
              starInput.setAttribute("name", "starCheckbox1");
              starInput.setAttribute("value", "starred");
              starInput.setAttribute("class", "starCheckbox");
              starInput.setAttribute("id", "starInput");
              //starInput.setAttribute("checked", "");
              var starLabel = document.createElement("label");
              starLabel.setAttribute("for", "starInput");
              starSpan.appendChild(starInput);
              starSpan.appendChild(starLabel);
              parentDiv.appendChild(starSpan);

              var counterSpan = document.createElement("span");
              counterSpan.id = "counterSpan"

              var counterText;
              if (index + 1 > wordData.length) {
                counterText = document.createTextNode("Done!");
              } else {
                counterText = document.createTextNode((index + 1) + "/" + wordData.length)
              }
              counterSpan.appendChild(counterText);
              parentDiv.appendChild(counterSpan);

              var wordText = document.createElement("h2");
              wordText.id = "englishText";

              if (wordData[index].AnswerLanguage == "Japanese") {
                if (wordData[index].WordType == 0) {
                    wordText.textContent = "To ";
                }
                wordText.textContent += wordData[index].English;
              } else {
                wordText.textContent += wordData[index].Japanese;
              }
              
              parentDiv.appendChild(wordText);

              var formText = document.createElement("h3");
              formText.id = "formText";

              if (wordData[index].AnswerLanguage == "Japanese") {
                var formDisplayText = formData[index];
                if (wordData[index].WordType == 1) {
                    formDisplayText = formDisplayText.replace("adj-", "");
                }
                formText.textContent += formDisplayText;
              } else {
                formText.textContent = "English translation";
              }

              parentDiv.appendChild(formText);

              var button = document.createElement("input");
              button.type = "button";
              button.id = "getAnswerButton"
              button.value = "Get answer";
              button.classList.add("button2");
              button.onclick = Answer;

              var div = document.createElement("div");
              div.id = "testButtonBox";
              div.appendChild(button);
              parentDiv.appendChild(div);
        }

        function Answer() {
            
            var parentDiv = document.getElementById("buttonParentBox");

            removeElement("getAnswerButton");

            var containerDiv = document.createElement("div");
            containerDiv.id = "answerDiv";

            var wordText = document.createElement("j2");
            wordText.id = "japaneseTextAnswer";
            wordText.textContent = "";

            if (wordData[index].AnswerLanguage == "English") {
              if (wordData[index].WordType == 0) {
                  wordText.textContent = "To ";
              }
            }

            wordText.textContent += wordData[index].TestAnswer;
            containerDiv.appendChild(wordText);

            var wordSpan0 = document.createElement("span");
            wordSpan0.id = "wordSpan0";

            var lbr = document.createElement("br");
            wordSpan0.appendChild(lbr);

            var wordTypeName = "verb";
            if (wordData[index].WordType == 1) {
                wordTypeName = "adjective";
            }

            var wordText2 = document.createTextNode("Base " + wordTypeName + ": ");
            wordText2.id = "japaneseTextBaseVerb";
            wordSpan0.appendChild(wordText2);
            containerDiv.appendChild(wordSpan0);

            var wordSpan1 = document.createElement("span");
            wordSpan1.id = "wordSpan1";
            
            var wordText2a = document.createTextNode(wordData[index].Japanese);
            wordText2a.id = "japaneseTextBaseVerb2";
            wordSpan1.appendChild(wordText2a);
            containerDiv.appendChild(wordSpan1);

            var wordText3 = document.createElement("h4");
            wordText3.id = "japaneseTextBaseVerbSubtype";

            if (wordData[index].WordType == 0) {
                wordText3.textContent = "(" + wordData[index].Subtype + " verb" + ")";
            } else if (wordData[index].WordType == 1) {
                wordText3.textContent = "(" + wordData[index].Subtype + ")";
            }
            containerDiv.appendChild(wordText3);

            var button = document.createElement("input");
            button.type = "button";
            button.id = "nextButton";
            button.value = "Next";
            button.classList.add("button2");
            button.onclick = ShowWord;

            var div = document.createElement("div");
            div.id = "buttonBox";
            div.appendChild(button);
            containerDiv.appendChild(div);

            parentDiv.appendChild(containerDiv);
        }

        ShowWord(index);
      </script>
  </div>
</div>

<br>
<br>
<br>

</body>
</html>